/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */

body {
    font-family: 'Expert-Sans-Light', helvetica, arial, clean, sans-serif;
    line-height: 1.8;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    font-weight: 300;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
    min-width: 755px;
}

footer {
    background-color: #e5e5e5;
    border-top: 1px solid #ccc;
    font-family: 'Expert-Sans-Regular', helvetica, arial, clean, sans-serif;
}